* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./img/future-grid.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #6819fe;
}

header {
    width: 100%;
    padding: 20px 10%;
    z-index: 100;
    position: fixed;
    max-width: 1200px;
    margin-left: 365px;
}

.navbar a {
    margin-left: 15px;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.hero-image img{
    animation: morph 8s ease-in-out infinite;
}

@media (max-width: 768px) {
    .hero-content {
        flex-direction: column-reverse;
        gap: 3rem;
        height: auto;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .hero-content img {
        margin-left: 100px;
    }
}

@media (max-width: 900px) {
    .skills {
        flex-direction: column;
        position: static;
    }
}

.skills {
    align-items: center;
    display: flex;
    position: absolute;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
}