::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: whitesmoke;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

body {
    background-image: url("./img/future.png");
    background-size: cover;
    background-color: #6819fe;
    background-attachment: fixed;
}

header {
    width: 100%;
    padding: 20px 10%;
    z-index: 100;
    position: fixed;
}

.navbar a {
    margin-left: 15px;
}

.hero-image img {
    animation: morph 8s ease-in-out infinite;
}

.skills {
    align-items: center;
    display: flex;
    position: absolute;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container2 {
    grid-gap: 5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 80%;
}

.about {
    background-color: #060819;
}

.project {
    background-color: #060819;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@media (max-width: 768px) {
    .hero-content {
        flex-direction: column-reverse;
        gap: 3rem;
        height: auto;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .hero-content img {
        margin-left: 100px;
    }
}

@media (max-width: 900px) {
    .skills {
        flex-direction: column;
        position: static;
    }
}